.vs/LearningSourceTreeAdvanced/v15/Browse.VC.opendb
.vs/LearningSourceTreeAdvanced/v15/Browse.VC.db
.vs/LearningSourceTreeAdvanced/v15/.suo
LearningSourceTreeAdvanced/LearningSourceTreeAdvanced.vcxproj.user
LearningSourceTreeAdvanced/LearningSourceTreeAdvanced.vcxproj.filters
LearningSourceTreeAdvanced/LearningSourceTreeAdvanced.vcxproj
LearningSourceTreeAdvanced.sln
.vs/LearningSourceTreeAdvanced/v15/ipch/e269bcb98df685e8.ipch
LearningSourceTreeAdvanced/targetver.h
LearningSourceTreeAdvanced/stdafx.h
LearningSourceTreeAdvanced/stdafx.cpp
